<%= form_with(model: owned_game, local: true) do |form| %>
  <% if owned_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(owned_game.errors.count, "error") %> prohibited this owned_game from being saved:</h2>

      <ul>
        <% owned_game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form_with(model: owned_game, local: true) do |f| %>
      <%= f.label(:condition, "Condition:") %>
      <%= f.select :condition, :Condition => OwnedGame.conditions.keys.to_a %>
      <%= f.label(:trade_status, "Trade Status:") %>
      <%= f.select :trade_status, :'Trade Status' => OwnedGame.trade_statuses.keys.to_a %>
      <%= f.label(:price, "Price:") %>
      <%= f.number_field :price, in: 0.0..2000.0, step: 0.01 %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>