<div class='wished-owned-tiles-container'>
    <% @owned_games.each do |owned_game| %>
        <div class='wished-owned-game-tile'>
            <div class='wished-owned-game-name'>
                <h2><%= "#{owned_game.board_game.name}" %></h2>
            </div>
            <%= link_to image_tag(owned_game.board_game.image, class: "card-image", alt: "#{owned_game.board_game.name} Front Cover"), owned_game %>
            <div class='wished-owned-game-buttons'>
                <%= link_to 'Remove from Collection *Fix*', owned_games_path %>
                <%= link_to 'Upload Photos *Fix*', owned_games_path %>
                <%= link_to 'Move to Wishlist *Fix*', owned_games_path %>
            </div>
        </div>
    <% end %>
</div>