<h1>My Copy Of:</h1>
<h2><%= @owned_game.board_game.name %></h2>

<div class="owned-game-show-labels">
    <h3>Condition:</h3>
    <%= @owned_game.condition %>
    <h3>Trade Status:</h3>
    <%= @owned_game.trade_status %>
    <h3>Price:</h3>
    <%= @owned_game.price %>
</div>

<br>
<%= button_to 'Edit', edit_owned_game_path(@owned_game), method: :get %>