<div class='board-game-page'>
    <div class='board-game-rank-rating'>
        <p><%= "#{@board_game.overall_rank}" %></p>
        <h3>Rank</h3>
        <p><%= "#{@board_game.geek_rating}" %></p>
        <h3>Rating</h3>
    </div>
    <div class='board-game-info'>
        <h1><%= "#{@board_game.name} (#{@board_game.year_published})" %></h1>
        <div class='board-game-play-stats'>
            <p><%= "Players: #{@board_game.min_players} - #{@board_game.max_players}" %></p>
            <p><%= "Age: #{@board_game.age}+" %></p>
            <p><%= "Playing Time: #{@board_game.min_playing_time} - #{@board_game.max_playing_time}" %></p>
            <p><%= "Weight: #{@board_game.weight}/5" %></p>
            <p><%= link_to 'Add to Wishlist', create_wished_game_path(@board_game), method: :post %></p>
            <p><%= link_to 'Add to Collection', create_owned_game_path(@board_game), method: :post %></p>
        </div>
    </div>
    <div class='board-game-image-container'>
        <%= image_tag(@board_game.image, class: "board-game-image", alt: "#{@board_game.name} Front Cover") %>
    </div>
    <div class='board-game-description'>
        <p><%= @board_game.long_description %></p>
    </div>
</div>