<h1>Trades</h1>

<h2>current_user_collection_items<%= pp @current_user_collection_items %></h2>
<h2>other_user_wishlist_items<%= pp @other_user_wishlist_items %></h2>
<br>
<h2>current_game_trade<%= pp @current_game_trade %></h2>
<br>
<h2>other_game_trade<%= pp @other_game_trade %></h2>
<h2>trades<%= pp @trades %></h2>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trades.each do |trade| %>
      <tr>
        <td><%= pp trade %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trade', new_trade_path %>
