<h1>FIRST TRADE MATCHES</h1>
<h2>current_user_collection_items<%= pp @current_user_collection_items %></h2>
<h2>other_user_wishlist_items<%= pp @other_user_wishlist_items %></h2>
<br>
<h2>current_game_trades<%= pp @current_game_trades %></h2>
<br>
<h1>SECOND TRADE MATCHES</h1>
<h2>other_trade_users<%= pp @other_trade_users %></h2>
<h2>other_user_collection_items<%= pp @other_user_collection_items %></h2>
<h2>current_user_wishlist_items<%= pp @current_user_wishlist_items %></h2>
<br>
<h2>other_game_trades<%= pp @other_game_trades %></h2>
<br>
<h2>trade_matches<%= pp @trade_matches %></h2>
<br>
<h2>trades<%= pp @trades %></h2>